
    <app-search-contract></app-search-contract>
     <br>
       <app-add-contract></app-add-contract>
        <br>
      <app-edit-contract></app-edit-contract>
        <br>
        <mat-accordion color="#7C7C7C">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title  style="color: #7C7C7C;">
                Activate Contracts
              </mat-panel-title>
             
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion color="#7C7C7C">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title  style="color: #7C7C7C;">
                Clone Contracts
              </mat-panel-title>
             
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion color="#7C7C7C">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title  style="color: #7C7C7C;">
                Archive/Unarchive Contracts
              </mat-panel-title>
             
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion color="#7C7C7C">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title  style="color: #7C7C7C;">
                Void Contracts 
              </mat-panel-title>
             
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
    
